body {
  background: #181A2F;
  font-family: 'Inconsolata', monospace;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.title {
  text-align: center;
  color: #fff;
}

.tic-tac-toe {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 30em;
  height: 100%;
  transform: translate(50%,-50%);
  color: #fff;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }

  & > div {
    background: #212845;
    border-radius: 0.3em;
    border: 1px solid #000;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 5em;
    text-align: center;
    align-items: center;

    p {
      margin: 0.5em;
      font-size: 1.2em;
    }

    span {
      font-size: 2em;
    }

    .active-player-bar {
      height: 0.2em;
      width: 100%;
      background: #FFFF00FF;
    }
  }

  .content {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 25em;

    div {
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:active {
        background: forestgreen;
        // add animation change background color.
      }
    }
  }
}
